<div class="face-snap-card" [ngClass]="{snapped:userHasSnapped}">
    <h2>{{faceSnap.title | titlecase }}</h2>
    @if(faceSnap.location){
    <p>Localisation:{{faceSnap.location}}</p>
    }@else{
    <p>Localisation non spécifiée</p>
    }
    <p>{{faceSnap.description}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" >
    <p>Mis en jour le {{faceSnap.createdAt | date:'dd MMMM yyyy,à HH:mm'}}</p>
    <p>
        <button (click)="onAddSnap()"> {{snapButtonText}}</button>
            <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)'}">🤌 {{ faceSnap.snaps }}</span>
    </p>
    <a routerLink="/facesnaps">BACK</a>
</div>

